html {
  margin: none;
  padding: none;
  font: normal 100%/1.4 Georgia,serif;



}

ul {
text-decoration: none;
list-style-type: none;

}

.current {
color: green;

}
.nav-top {
font-size: 1.25rem;

}
