body {
margin-top:40px;
margin-right:30px;
margin-left:30px;
background-color: darkslategrey;
color: azure;
font-size: 1.1em;
}
h1 {
    color: coral;
}
#intro {
    font-size: 1.3em;
}
.colorful {
    color: orange;
}
